export GTK_IM_MODULE=fcitx 
export QT_IM_MODULE=fcitx 
export XMODIFIERS=@im=fcitx
export EDITOR=vim
export XDG_CONFIG_HOME="$HOME/.config"
export _JAVA_OPTIONS='-Dswing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true '
export _JAVA_AWT_WM_NONREPARENTING=1

# home bin
export PATH=~/bin:~/.local/bin:$PATH
